/* Colors
    000022 Oxford Blue
    001242 Penn Blue
    0094C6 Blue (NCS) - texti þarf að vera svartur
    005E7C Lapis Lazuli
    040F16 Rich Black */

/* lagði upp með litina hér að ofan og setti bara memo með kommenti efst eins og sjá má... þegar ég var búin með javascript partinn langaði mig að breyta öllum litunum, hefði verið minni vinna með einhverju root dóti geri ég ráð fyrir, en kann ekki að nota það ennþá */

/* Byrjum á að stæla það sem á að vera yfir allt, letur, backgrunn, font size etc */
body {
  color: white;
  background-color: #001242;
  font-family: "Archivo Black";
  font-size: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

/* af því við lærðum það tíma 15 þá bætti ég við smá media dúlli */
@media (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  #header-div {
    flex-direction: column;
  }
  #generator-div {
    align-self: center;
  }
}
/* Svo ætla ég að stilla af það sem er í header, sem er þá titillinn, leiðbeiningar og random number generator */
header {
  grid-column: 1 / 3;
  margin-right: auto;
  padding: 1rem;
}

#header-div {
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 25px;
  display: flex;
  padding: 1rem;
}
#leidbeiningar-div {
  padding: 0 1rem;
}
#generator-div {
  padding: 1rem;
  align-content: center;
  justify-items: center;
  font-size: 1.5rem;
}

#random-takki {
  color: white;
  background-color: #005e7c;
  height: 80px;
  width: 150px;
  border-radius: 25px;
  font-weight: bold;
}

/* Vasareiknirinn á sitt section og röðum saman því sem á heima þar */
/* Byrjum á sjálfum containernum */
#vasareiknir-container {
  padding: 3rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  align-content: space-evenly;
  justify-content: space-evenly;
  border: 2px solid white;
  border-radius: 25px;
  max-width: 600px;
}
/* Svo raða ég rest með id styling á undan og svo class styling á eftir, og innan þeirra reyndi ég að hafa það í þeirri röð sem atriðin birtast í containernum, ef ég væri með stærra box með stór div undir sér hefði ég líklega haft það öfugt, eftir röð sem það birtist, og svo þar innan id - class. Væri áhugavert að skoða hvernig forritarar almennt raða hlutum  í CSS*/
#calc-svar-box {
  background-color: #040f16;
  color: white;
  grid-column: 1 / 4;
  margin: 15px;
  padding: 30px;
  border-radius: 25px;
  border: 3px solid #0094c6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clear-box {
  grid-column: 4/5;
}

#box-reikna {
  grid-column: 3 / 5;
}

.numBox {
  display: flex;
  padding: 30px;
  margin: 15px;
  background-color: #005e7c;
  color: white;
  border-radius: 25px;
  border: 3px solid #005e7c;
  justify-content: center;
  align-items: center;
}

.reiknAdgerd {
  display: flex;
  padding: 30px;
  margin: 15px;
  background-color: #0094c6;
  color: #040f16;
  border-radius: 25px;
  border: 3px solid #0094c6;
  justify-content: center;
  align-items: center;
}

.the-other-fuckers { /*pardon my french*/
  display: flex;
  padding: 30px;
  margin: 15px;
  background-color: #0094c6;
  color: #040f16;
  border-radius: 25px;
  border: 3px solid #0094c6;
  justify-content: center;
  align-items: center;
}

/* Svo á Gunter sinn eigin container þar sem hann bíður með eftirvæntingu,  */
img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 25px;
} /*erum bara með img í reward boxinu svo höfum það hér, en þetta er samt að stilla allar myndir í filenum, ef ég væri með myndir á fleiri stöðum hefði ég geymt þetta hjá body CSS*/

#reward-box { /*hefði líklega átt að nota container hér frekar en box, væri skýrara miðað við nöfnin á undan*/
  padding: 3rem;
  margin: 1rem;
  border: 2px solid white;
  border-radius: 25px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ce1483;
}
